# Database (SQLite)
DATABASE_URL="file:./dev.db"

# Admin auth
HTTP_BASIC_AUTH=admin:123456

# App
HOST=http://localhost:3000
SITE_NAME="ZShop"

# BSC USDT Payment
BSC_WALLET="0xYourWalletAddress"
BSC_USDT_TOKEN="0x55d398326f99059fF775485246999027B3197955"
BSCSCAN_KEY="YourBscScanApiKey"

# Set to "true" to use BSC testnet
# TEST=true
